body {background-color: #111111; color: #DDDDDD;
      background-image:  url('/static/img/bg.png'), url('/static/img/bg_topleft.png'), url('/static/img/bg_topright.png'), url('/static/img/bg_botleft.png'), url('/static/img/bg_botright.png');
      background-repeat: no-repeat;
      background-position:  center center, top left, top right, bottom left, bottom right;
      background-attachment: fixed;
      font-family: 'Droid Sans', sans-serif;
     font-weight: 400;
  }

body.bio {
      background-image:  url('/static/img/bg_topleft.png'), url('/static/img/bg_topright.png'), url('/static/img/bg_botleft.png'), url('/static/img/bg_botright.png');
      background-position:   top left, top right, bottom left, bottom right;

}

.mod {
    background: rgba(0, 0, 0, 0.7);
}

.content .mod{
    margin-top: 25px;
    padding-top: 10px ;
    padding-bottom: 10px ;
}

.news-box a {
    font-size: 1.1em;
}
.news-box, .disc-list>div, .disc-list-d-item,.video-list>div>div {
-webkit-transition: background 0.3s; /* Safari */
    transition: background 0.3s;
}
.news-box:hover, .disc-list>div:hover, .disc-list-d-item:hover, .video-list>div>div:hover {
    background: rgba(160, 160, 160, 0.5);
}
.news-box a:hover, .disc-list>div a:hover, .disc-list-d-item a:hover, .video-list>div>div a:hover {
    color: #fff;
}
.top-mod {
    padding-bottom: 20px;
}
header .logo{
    text-align:center;

}
header .logo img  {
    width: 100%;
    height: auto;
}

header a {
    color: #fff;
    font-size: 2.0em;
    padding: 10px;
}
header .menu  {
    vertical-align: bottom;
    padding-top: 15px;
}


.news-box img {
    width: 100%;
    height: auto;
}

.news-box {
    text-align: center;
    background: rgba(40, 40, 40, 0.8);
    margin-top: 20px;
}
.content {
    margin-top: 25px;
}
.content p, .content li{
    font-size: 1.2em;
}
img.flex {
    width: 100%;
    height: auto;
}
.disc-list {
    text-align: center;
}

.disc-list > div{
    display: inline-block;
    width: 20%;
}
.disc-list  img {
    height: auto;
}

.bio-text {
    background: url('/static/img/congruent_outline.png');
    border-radius: 4px;
    padding: 12px;
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
}
.integrantes {
}
.integrantes img, .integrantes p{

    display: inline-block;
    vertical-align: top;
}

.integrantes img {
    width: 100%;
    height: auto;
}

.integrantes  > div {
    margin-bottom: 10px;
}

footer {
    margin-top: 50px;

}
footer .container {
    background: #2F2F2F;
    padding-top: 30px;
    padding-bottom: 10px;
    border-top: 1px solid #bbb;
}

footer  a {
    color: #fff;
    font-size: 1.5em;
    padding: 10px;
}

header nav a {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
    text-decoration: none !important;
    font-weight: 600;
}

header nav a:hover {
    color: #fff;
}

header nav a:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
header nav a:hover:after {
	width: 100%;
	background: #FF6100;
}


a {
    color: #fff;
}
a:hover , a:focus, .subt, a.fc {
	color: #FF6100;

}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.video-list {
    height:650px;
    overflow: auto;
}
.video-list .row>div {
    margin-top: 10px;
}

.track-list li {
    font-size: 1.8em;
}

#vid-icont iframe{
    width: 100%;
    max-width: 640px;
    display: block;
}

.news-content {
    font-size: 1.3em;
    margin-top: 10px;
    padding: 15px;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.8);
    padding-bottom: 1;
    margin-bottom: -10px;
}
.news-box span.date {
    font-size: 0.8em;
}
.news-box a {
    display: block;
    min-height: 42px;
}

.news-img{max-width: 100%;}

.content h1 {color: #fff;}

span.icon {
    font-size: 18px;
}
