/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    body { background-attachment: scroll;}
    header nav a {font-weight: 400; font-size: 1.5em}
    .top-mod  {text-align: center;}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    body { background-attachment: scroll;}
    header nav a {font-weight: 400; font-size: 1.5em}
    .top-mod  {text-align: center;}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    body { background-attachment: scroll;}
    header nav a {font-weight: 400; font-size: 1.5em}
    .top-mod  {text-align: center;}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    body { background-attachment: fixed;}
    header nav a {font-weight: 600; font-size: 2.0em}
  .news-cont {
        border-left: 15px solid rgba(255, 255, 255, 0);
        background-clip: padding-box; 
    }

    .top-mod  {text-align: center;}
    .content {min-height: 700px;}
    #vid-icont iframe{margin-left: 100px;}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    body { background-attachment: fixed;}
    header nav a {font-weight: 600; font-size: 2.0em}
     .news-cont {
        border-left: 15px solid rgba(255, 255, 255, 0);
        background-clip: padding-box; 
    }
    .top-mod  {text-align: left;}
    .content {min-height: 700px;}
    #vid-icont iframe{margin-left: 100px;}
}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
   
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .logo img {
        max-width: 300px;
    }

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}
