{% extends "web/base.html" %}
{% load at_size from images %}
{%block title%}Acerca de Uróboros{%endblock%}


{%block body_class%}bio{%endblock%}
{%block content%}
<div class='content '>
    <div class='container'><h1>Acerca de Uróboros</h1></div>
    <div class='container mod'>
    <div class='row'>
        <div class='col-md-4 col-md-offset-4'>
            <img class='flex' src='/static/img/uroboros.jpg' />
        </div>
      </div>
        
      <div class='row'>
          <div class='col-md-12 bio-text'>
        Se llama uróboros (ουροβοροσ) a un antiguo símbolo griego que representa a una serpiente o dragón que devora su propia cola.
         
        . El uróboros simboliza el esfuerzo eterno, la lucha eterna, o el esfuerzo inútil, ya que el ciclo vuelve a comenzar a pesar de las acciones para impedirlo.
         

        PAUL EDMUND THOMAS
        (Estracto de la introducción de la serpiente Uróboros,obra de E.R.Eddison)
        </div>

      </div>
        <h2>Integrantes</h2>
        {{objects}}
      <div class='row integrantes'>
          {%for p in object_list%}
          <div class='col-md-4'>
             <div class='row'>
                <div class='col-md-6  col-xs-6'>
                     <img  class='flex' src='{{p.images.all.0|at_size:"integrante_thumb"}}'/>
                 </div>

                <div class='col-md-6 col-xs-6'>
                  <p>
                  <b>{{p.name}}</b>
                  <br/>
                  {{p.content}}
                  <br/>
                  </p>
              </div>
          </div>
      </div>
          {%endfor%}
      </div>
</div>
</div>
{%endblock%}
