<!DOCTYPE html>
<html>
<head lang="es">
    <title>{%block title%}José Andrea y Uróboros{%endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    <link rel="manifest" href="/static/manifest.json">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/responsive.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
                {%block extra_jquery%}{%endblock%}
                });
    </script>
    <meta name="description" content="{%block meta_desc%}José Andrea y Uróboros. Grupo de rock español. Noticias, videos, eventos y más.{%endblock%}"/>
    {%block extra_head%}{%endblock%}
</head>
    <body class='{%block body_class%}{%endblock%}'>
    <header>{%block header%}{%include "web/header.html"%}{%endblock%}</header>
        {%block content%}{%endblock%}
        <footer>{%block footer%}{%include "web/footer.html"%}{%endblock%}</footer>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-62413571-1', 'auto');
      ga('send', 'pageview');
    </script>
    </body>
</html>
