{%extends "web/base.html"%}
{% load at_size from images %}
{%block title%}Discografía de José Andrea y Uróboros - {{object.title}}{%endblock%}
{%block meta_desc%}Discografía{%endblock%}

{%block extra_head%}
<link rel="stylesheet" href="/static/css/font_brands.css">
{%endblock%}

{%block content%}
<div class="container content">
    <h1>Discografía</h1>
    <div class='row mod disc-list-d'>
        {%for album in album_list%}
                    <div class='col-xs-6 col-sm-6 col-md-3'>
                        <div class='disc-list-d-item'>
                            <a href='{%url "disco_detail" pk=album.pk slug=album.slug%}'><img  class='flex' src='{{album.images.all.0|at_size:"album_small"}}'/></a>
                            <h4><a href='{%url "disco_detail" pk=album.pk slug=album.slug%}'><center>{{album.title}}</center></a></h4></div>
                    </div>
        {%endfor%}
    </div>
    <div class='row mod'>
        <div class='col-md-6 '>
            <img class='flex' src='{{object.images.all.0|at_size:"album"}}'/>
            
            <p>Comprar: <a href='{{object.appstore_link}}' target='_blank'><span class='icon icon-apple'>iTunes</span></a>
            &nbsp;
            <a href='{{object.play_link}}' target='_blank'><span class='icon icon-googleplay'>Google Play</span></a>
            </p>
        </div>

        <div class='col-md-6 '>
            <h2>{{object.title}}</h2>
            <p>Fecha de lanzamiento: {{object.date}}
            <br>
                       </p>
            <ol class='track-list'>
            {%for track in object.tracks.all%}
            <li>{{track.name}}</li>
            {%endfor%}
            </ol>
        </div>
    </div>
    {%if video_list%}
    <div class='row mod'>
                 <div class='col-md-12'>  <h3>Videos relacionados</h3></div>
                    {%for video in video_list%}
                    <div class='col-md-4 col-sm-6 col-xs-6'>
                        <div class='news-box'>
                            <a href='{%url "video_detail" pk=video.pk slug=video.slug%}'><img class='flex' src='{{video.get_thumbnail}}'/></a>
                            <a href='{%url "video_detail" pk=video.pk slug=video.slug%}'>{{video.title}}</a>
                        </div>
                    </div>
                    {%if forloop.counter|divisibleby:2%} <div class='clearfix visible-xs-block visible-sm-block'></div> {%endif%}
                    {%if forloop.counter|divisibleby:3%} <div class='clearfix visible-md-block visible-lg-block'></div> {%endif%}
                    {%endfor%}
    </div>
    {%endif%}
</div>
{%endblock%}
