<div class="container">
    <div class="row top-mod mod">
        <div class="col-md-3 logo"><a href='/'><img src='/static/img/logo.png'/></a></div>
        <div class="col-md-9 menu">
            {%include 'web/menu.html'%}
        </div>
    </div>
</div>
