{%extends "web/base.html"%}

{% load at_size from images %}
{%block extra_jquery%}
   // $('.content').hide();
   // $('footer').hide();
   // setTimeout(function(){$('.content').show(300); $('footer').show()}, 1050);
{%endblock%}

{%block content%}

<div class="container content">

    <div class='row  '>
        <div class='col-md-12 mod visible-lg'>
            {%include 'web/listado_discos.html'%}
        </div>
    </div>


    <div class='row'>
      

        <div class="col-md-9 col-md-push-3 mod news-cont">
                <div class='row'>
                    <div class='col-md-8'>
                        <a href='{%url "noticia" pk=first_news.pk slug=first_news.slug%}'><img class='flex' src='{{first_news.images.all.0|at_size:"news_main"}}'/></a>
                    </div>
                    <div class='col-md-4'>
                        <h2><a href='{%url "noticia" pk=first_news.pk slug=first_news.slug%}'>{{first_news.title}}</a></h2>
                        <span>({{first_news.date}})</span>
                        <p>{{first_news.content|truncatewords_html:29|safe}}</p>
                        <a href='{%url "noticia" pk=first_news.pk slug=first_news.slug%}'>Leer más...</a>
                    </div>
                </div>
                <hr>

                <div class='row'>
                    <div class='col-md-12'>  <h1>Últimas noticias</h1></div>
                    {%for news in news_list%}
                    <div class='col-md-4 col-sm-6 col-xs-6'>
                        <div class='news-box'>
                            <a href='{%url "noticia" pk=news.pk slug=news.slug%}'><img src='{{news.images.all.0|at_size:"news_thumb"}}'/></a>
                            <a href='{%url "noticia" pk=news.pk slug=news.slug%}'><span class='date'>{{news.date|date:'Y-m-d'}}</span> - {{news.title}}</a>
                        </div>
                    </div>
                    {%if forloop.counter|divisibleby:2%} <div class='clearfix visible-xs-block visible-sm-block'></div> {%endif%}
                    {%if forloop.counter|divisibleby:3%} <div class='clearfix visible-md-block visible-lg-block'></div> {%endif%}
                    {%endfor%}
                    <div class='col-md-12'>  <br/><a href='{%url 'noticias'%}'>Más noticias...</a></div>
                </div>

                 <div class='row'>
                     <div class='col-md-12'>  <h2>Videos</h2></div>
                    {%for video in video_list%}
                    <div class='col-md-4 col-sm-6 col-xs-6'>
                        <div class='news-box'>
                            <a href='{%url "video_detail" pk=video.pk slug=video.slug%}'><img class='flex' src='{{video.get_thumbnail}}'/></a>
                            <a href='{%url "video_detail" pk=video.pk slug=video.slug%}'>{{video.title}}</a>
                        </div>
                    </div>
                    {%if forloop.counter|divisibleby:2%} <div class='clearfix visible-xs-block visible-sm-block'></div> {%endif%}
                    {%if forloop.counter|divisibleby:3%} <div class='clearfix visible-md-block visible-lg-block'></div> {%endif%}
                    {%endfor%}

                    <div class='col-md-12'>  <br/><a href='{%url 'videos'%}'>Más videos...</a></div>
                </div>

        </div>


  <div class='col-md-3 col-md-pull-9 mod'>
            {%include "web/twitter_ja.html"%}
        </div>
    </div>
</div>
{%endblock%}
