{% load at_size from images %}
<div class='disc-list'>
                                        
                    {%for album in album_list%}
                    <div>
                        <a href='{%url "disco_detail" pk=album.pk slug=album.slug%}'><img  class='flex' src='{{album.images.all.0|at_size:"album_small"}}'/></a>
                        <h4><a href='{%url "disco_detail" pk=album.pk slug=album.slug%}'>{{album.title}}</a></h4>
                    </div>
                    {%endfor%}

</div>
