    <nav>
                <a href='/'>Inicio</a>
                <a href='{%url 'noticias'%}'>Noticias</a>
                <a href='{%url 'about'%}'>Acerca de Uróboros</a>
                <a href='{%url 'discos'%}'>Discos</a>
                <a href='{%url 'videos'%}'>Videos</a>
            </nav>
