{%extends "web/base.html"%}
{% load at_size from images %}

{%block title%}{{object.title}}{%endblock%}
{%block content%}
<div class='container content'>
    <div class='row mod'>
        <div class='col-md-12'>
            <h1>{{object.title}}</h1>
            <span>({{object.date}})</span>
            <center><img class='news-img'   src='{{object.images.all.0|at_size:"news_detail"}}'/></center>
        </div>
        <div class='col-md-12 news-content'>
            <div >
                {{object.content|safe}}
            </div>
            <br/><a class='fc' href='{%url 'noticias'%}'>Más noticias</a>
        </div>
    </div>
</div>
{%endblock%}
