{%extends "web/base.html"%}
{% load at_size from images %}
{%block title%}Noticias{%endblock%}
{%block meta_desc%}Noticias de José Andrea y Uróboros{%endblock%}
{%block content%}

<div class="container content">
<div class='row mod'>
                    <div class='col-md-12'>  <h1>Noticias</h1></div>
                    {%for news in object_list%}
                    <div class='col-md-4 col-sm-6 col-xs-6'>
                        <div class='news-box'>
                            <a href='{%url "noticia" pk=news.pk slug=news.slug%}'><img src='{{news.images.all.0|at_size:"news_thumb"}}'/></a>
                            <a href='{%url "noticia" pk=news.pk slug=news.slug%}'><span class='date'>{{news.date|date:'Y-m-d'}}</span> - {{news.title}}</a>
                        </div>
                    </div>
                    {%if forloop.counter|divisibleby:2%} <div class='clearfix visible-xs-block visible-sm-block'></div> {%endif%}
                    {%if forloop.counter|divisibleby:3%} <div class='clearfix visible-md-block visible-lg-block'></div> {%endif%}
                    {%endfor%}
        </div>
    </div>
{%endblock%}
