{%extends "web/base.html"%}
{%block meta_desc%}Videos de José Andrea y Uróboros{%endblock%}
{%block title%}Videos{%endblock%}

{%block content%}
<div class="container content">
    <h1>Videos</h1>
    <div class='row mod video-cont'>
        
        <div class='col-md-9 col-xs-12 col-xs-12 col-md-push-3' id='vid-icont'>
            <h2>{{object.title}}</h2>
            <iframe  height="360" src="https://www.youtube.com/embed/{{object.get_code}}" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class='col-md-3 col-xs-12 col-md-12 col-md-pull-9 video-list'>
            <div class='row'>
                {%for video in video_list%}
                <div class='col-md-12 col-xs-4 col-sm-4'>
                    <a href='{%url 'video_detail' pk=video.pk slug=video.slug%}'><img class='flex' src='{{video.get_thumbnail}}'/></a>
                    <a href='{%url 'video_detail' pk=video.pk slug=video.slug%}'>{{video.title}}</a>
                </div>
                    {%if forloop.counter|divisibleby:3%} <div class='clearfix visible-xs-block visible-sm-block'></div> {%endif%}
                {%endfor%}
                
            </div>
        </div>

    </div>
</div>
{%endblock%}

{%block extra_jquery%}
{%endblock%}
